.form-body{
    /* border: 1px solid black; */
    width: 50%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

}

.lowerFormbodySection{
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    top:20vh;
    left: 95vw;
    position: fixed;

}
.AddQuestionButton, .saveJsonButton, .exportHtmlButton{
    width: 35px;
    height: 35px;
    border-radius: 50% 50%;
    border: 0;
    transform: scale(1.5);  
}
