.export-form-body{
    width: 60vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red */
}
#export-form-title{
    background-color: #f0eeed;
    border-radius: 10px;

}
#export-form-title h1{
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-color: #22a39f;
    color: #f0eeed;
    font-weight: 400;
    padding: 10px;
}
#export-form-title p{
    padding: 10px;
}
#export-form-questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.export-question{
    border-radius: 10px;
    padding: 15px;
    background-color: #f0eeed;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#formAnswers{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.export-question input[type="checkbox"]:checked {
    background-color: #497174;
    border: 1px solid #497174;
    outline: none;
    box-shadow: none;
}
.export-question input[type="checkbox"]:focus , .export-question input[type="radio"]:focus{
    outline: none;
    box-shadow: none;

}
.export-question input[type="radio"]:checked {
    background-color: #497174;
    border: 1px solid #497174;
    outline: none;
}
.export-choice{
    display: flex;
    gap: 10px;
}
.export-question button{
}
.export-form-body  button {
    background-color: #497174;

}
button{
    background-color: #497174;
    color: #f0eeed;
}
button:hover{
    background-color: rgb(73, 113, 116, 0.9)!important;
    color: #f0eeed;
}

button:active{
    background-color: rgb(73, 113, 116, 0.8)!important;
}

.requiredBorder{
    transition: linear 0.3s;
    border: 2px solid red;
    box-shadow: 0px 3px 10x crimson;
}

.requiredBorder::after{
    content: "Required Field";
    color: crimson;
    font-size: 0.9em;
}
#error{
    background-color: rgb(220, 20, 60, 0.15);
    height: 5vh;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid crimson;
    justify-content: center;
    align-items: center;
    color: crimson;
}
#error h6{
    font-size: 1.3em;
    font-weight: 400;
    
}